# Entorno virtual
venv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]

# Base de datos SQLite (por si se usa)
db.sqlite3

# Archivos estáticos generados
staticfiles/

# Archivos de medios
media/

# Logs
logs/*.log

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db