<div class="bg-dark text-white vh-100 p-3">

    <h5 class="mb-4">

        Menú

    </h5>

    <ul class="nav flex-column">

        <li class="nav-item mb-2">

            <a class="nav-link text-white" href="{% url 'dashboard' %}">
                Dashboard
            </a>

        </li>

        <li class="nav-item mb-2">

            <a class="nav-link text-white" href="{% url 'lista_armamentos' %}">
                Armamentos
            </a>

        </li>

        <li class="nav-item mb-2">

            <a class="nav-link text-white" href="{% url 'lista_tipos' %}">
                Tipos de Armamento
            </a>

        </li>

        <li class="nav-item mb-2">

            <a class="nav-link text-white" href="{% url 'lista_movimientos' %}">
                Movimientos
            </a>

        </li>

        <li class="nav-item mb-2">

            <a class="nav-link text-white" href="#">
                Mantenimientos
            </a>

        </li>

        <li class="nav-item mb-2">

            <a class="nav-link text-white" href="{% url 'lista_responsables' %}">
                Responsables
            </a>

        </li>

        <li class="nav-item mb-2">

            <a class="nav-link text-white" href="{% url 'lista_ubicaciones' %}">
                Ubicaciones
            </a>

        </li>

    </ul>

</div>