{% extends "base.html" %}

{% block titulo %}
Dashboard
{% endblock %}

{% block contenido %}

<h2 class="mb-4">

    Dashboard

</h2>

<div class="row">

    <div class="col-md-4 mb-3">

        <div class="card text-center">

            <div class="card-body">

                <h5>Total Armamentos</h5>

                <h2>{{ total_armamentos }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-4 mb-3">

        <div class="card text-center">

            <div class="card-body">

                <h5>Operables</h5>

                <h2>{{ operables }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-4 mb-3">

        <div class="card text-center">

            <div class="card-body">

                <h5>No Operables</h5>

                <h2>{{ no_operables }}</h2>

            </div>

        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-4 mb-3">

        <div class="card text-center">

            <div class="card-body">

                <h5>Mantenimiento</h5>

                <h2>{{ mantenimiento }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-4 mb-3">

        <div class="card text-center">

            <div class="card-body">

                <h5>Responsables</h5>

                <h2>{{ responsables }}</h2>

            </div>

        </div>

    </div>

    <!-- UBICACIÓN -->
        <div class="col-md-4 mb-3">

            <div class="card text-center">

                <div class="card-body">

                    <div class="row mt-3">

                        <div class="col-6">

                            <strong>ARMERILLO</strong>

                            <h3>{{ armamentos_armerillo }}</h3>

                        </div>

                        <div class="col-6">

                            <strong>FUERA</strong>

                            <h3>{{ armamentos_fuera }}</h3>

                        </div>

                    </div>

                </div>
            
            </div>
        </div>

</div>

<h4 class="mt-4">Últimos Movimientos</h4>

<table class="table table-striped">

    <thead>

        <tr>
            <th>Fecha</th>
            <th>Armamento</th>
            <th>Usuario</th>
            <th>Acción</th>
        </tr>

    </thead>

    <tbody>

    {% for movimiento in ultimos_movimientos %}

        <tr>

            <td>{{ movimiento.fecha|date:"d/m/Y H:i" }}</td>

            <td>{{ movimiento.armamento.codigo }}</td>

            <td>{{ movimiento.usuario }}</td>

            <td>{{ movimiento.observacion|default:movimiento.get_tipo_display }}</td>

        </tr>

    {% empty %}

        <tr>

            <td colspan="4">

                No existen movimientos registrados.

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}